/* .colors {
    byzantium: '#820263',
    palePurple: '#F8DEFF',
    skyMagenta: '#bd70b1',
    plum: '#a0398a',
    white: '#fff',
    black: '#000',
    blue: '#2ca5ff',
    darkBlue: '#2c3dd3',
  } */
